# --- Compilación y Sistema ---
bin/
obj/
.cache/
.directory

*.o
*.out
*.exe
*.a
*.so

# --- Archivos de Herramientas y Editores ---
Session.vim
compile_commands.json

# --- Archivos Temporales ---

# --- Tests ---

# --- Debugging ---
core
vgcore.*
*.log
